.wrap
  max-width: 760px

  p
    color: var(--text-2)
    font-size: 15px

  button
    padding: 0
    border: 0
    color: var(--text)
    font-size: 14px
    font-weight: 600
    background: none

.clamped
  display: -webkit-box
  overflow: hidden
  -webkit-box-orient: vertical
  -webkit-line-clamp: 2

.expanded
  display: block
